<h1>Daily Job Alert</h1>

<% @list_of_jobs.each do |job|%>
  <h3><%= job.title_capitalize%></h3>
  <span><%= link_to job.company.name, job.company%> &nbsp; - &nbsp;</span>
  <span><%= link_to job.location.name , local_object_url(job.location.id,Objects::JOBS.code)%></span>
  <% if not job.salary.blank? then %>
    <p><%= job.salary%></p>
  <% end %>
  <p><%=job.description_text + "..." %></p>
<% end %>
