<hr/>
<p><%=@resume.client.fullname%>(<a href=<%=@resume.client.email%>><%=@resume.client.email%></a>) applied to <a href=<%=job_url(@job)%>><%=@job.title%></a> job in <%= @job.location.fullname %></p>
<hr/>

