<footer>
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <ul class="nav nav-justified">
            <li>
              <%=link_to "About us", about_path %>
            </li>
            <li>
              <%= link_to "Contact us", contact_path%>
            </li>
            <li>
              <%= link_to "Terms and Conditions", terms_and_conditions_path%>
            </li>
            <li>
              <%= link_to "Privacy policy", privacy_path%>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="text-center hidden-xs hidden-sm">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                Connect With Us:
              </div>
              <div class="col-sm-8">
                <a class="btn btn-primary" href="https://www.facebook.com/JobsGalore-1929512277077710">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="btn btn-warning" href="mailto:email@jobsgalore.eu">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <a class="btn btn-info" href="https://twitter.com/JobsGalore_AU">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
          </div>
          <div class="text-center hidden-xs hidden-md hidden-lg">
            <div class="col-sm-12">
              Connect With Us:
            </div>
              <div class="col-sm-4">
                <a class="btn btn-primary btn-block" href="https://www.facebook.com/JobsGalore-1929512277077710">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  | Facebook
                </a>
              </div>
              <div class="col-sm-4">
                <a class="btn btn-warning btn-block" href="mailto:email@jobsgalore.eu">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  | Email
                </a>
              </div>
              <div class="col-sm-4">
                <a class="btn btn-info btn-block" href="https://twitter.com/JobsGalore_AU">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  | Twitter
                </a>
              </div>
          </div>
          <ul class="nav nav-justified hidden-sm hidden-md hidden-lg">
            <li class="text-center">
              Connect With Us:
            </li>
            <li>
              <div class="text-center">
                <a class="btn btn-primary" href="https://www.facebook.com/JobsGalore-1929512277077710">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="btn btn-warning" href="mailo:email@jobsgalore.eu">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <a class="btn btn-info" href="https://twitter.com/JobsGalore_AU">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          © <%="#{PropertsHelper::COMPANY}"  %> All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>